@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Ultra&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue';
    background-color: #e7e9ea;
}

header {
    background-color: 	#10242D;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}


.navbar_logo img {
    width: 100px;
    height: 100px;
}

.navbar_search,
.navbar_account {
    display: flex;
    align-items: center;
}

.navbar_search img,
.navbar_account img {
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

.navbar_search:hover p,.navbar_account:hover p {
    opacity: 1;
}

.navbar_search p,
.navbar_account p {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: #e7e9ea;
    margin-left: 15px;
    font-size: 1em;
}


body h1 {
    font-size: 2em;
    font-weight: bold;
    color: #10242D;
    margin-top: 2%;
    margin-left: 1.5%;
}

.body_container {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 97.5%;
    height: 400px;
    border-radius: 10px;
    background-color: #E1E0E0;
    box-shadow: 0px 0px 10px #888888;
    margin-top: 1%;
}

.poster {
    width: 15%;
    height: 90%;
    background-color: #CECCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 10px;
    position: relative;
}

.poster img {
    width: 70%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}

.poster:hover img {
    transform: scale(1.1);
}

.poster_description {
    position: absolute;
    bottom: 11%;
    left: 11.5%;
    width: 77%;
    height: 93%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: #10242D;
}


.poster_description:hover {
    opacity: 1;
}

.en_savoir_plus {
    margin-top: 15%;
    background-color: #9da2a5;
    padding: 5px;
    color: #10242D;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.en_savoir_plus:hover {
    background-color: #e7e9ea;
    color: #e7e9ea;
}


.button_container {
    margin-top: 2%;
}

.button_container button {
    width: 200px;
    height: 40px;
    background-color: #10242D;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

.button_container button:hover {
    background-color: #3f4f56;
}



.game-menu-container {
    overflow: hidden;
    max-width: 100%;
    height: 850px;
    margin: 0 auto;
    position: relative;
}

.game-menu-content {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.game-card {
    flex: 0 0 auto;
    width: 100%;
    height: 850px;
    justify-content: center;
    background-color: #0e26de;
}

.game-card img {
    width: 100%;
    height: 850px;
    position: relative;
    justify-content: center;
    align-items: center;

}


.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
}

.prev-button {
    left: 1%;
}

.next-button {
    right: 1%;
}