@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Ultra&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue';
    background-color:#0c1c24;
    text-align: center;
}

header {
    background-color: #09151b;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}


.navbar_logo img {
    width: 100px;
    height: 100px;
}

.navbar_search,
.navbar_account {
    display: flex;
    align-items: center;
}

.navbar_search img,
.navbar_account img {
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

.navbar_search:hover p,.navbar_account:hover p {
    opacity: 1;
}

.navbar_search p,
.navbar_account p {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: #e7e9ea;
    margin-left: 15px;
    font-size: 1em;
}



.body_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0c1c24;
    padding-bottom: 50px;
}

.body_searchbar {
    width: 80%;
    background-color: #E1E0E0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #879196;
}

#liste_films {
    width: 97.3%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#liste_films img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px #888888;
    
}

#liste_films li {
    list-style: none;
    
}
#liste_films li:last-child {
    border-bottom: #333 solid 1px;
    padding-bottom: 40px;
}

#liste_films h3 {
    font-size: 1em;
    font-weight: bold;
    color: #10242D;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button,#next_page, #previous_page{
    padding: 10px 15px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #10242D;
    color: #fff;
    border: none;
    border-radius: 5px;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

button:hover,#next_page:hover,#previous_page:hover {
    background-color: #0056b3;
}

#loader {
    color: #333;
    display: none
}

#next_page, #previous_page{
    visibility: hidden;
}

.titre{
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background-color: #09151b;
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
    padding-top: 0.1px;
    margin-bottom: 50px;
    padding-bottom: 0.1px;
}